body {
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
button {
  cursor: pointer;
  border: none;
  font-size: 20px;
  transition: 0.1s;
}
.App {
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.questionWrapper, .tryAgainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questionImage {
  width: 400px;
  height: 500px;
  object-fit: cover;
}
.variants {
  margin-top: 10px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 49% 49%;
  grid-template-rows: 49% 49%;
}
.variantButton {
  min-width: 200px;
  min-height: 50px;
  background-color: darkseagreen;
}
h3 {
  color: azure;
}


button:hover {
  background-color: rgba(166,195,163,1);
  font-size: 18px;
}
button:active {
  background-color: grey;
}



